{
	"useTabs": false,
	"endOfLine": "lf",
	"arrowParens": "always",
	"semi": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"]
}
